// components/packages/PackageInfo.scss

h1 {
    margin-block-start: 0;
}
h3 {
    margin-block-end: 0;
}
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.PackageInfo {
    overflow-y: auto;
    overflow-x: clip;
    word-wrap: normal;

    max-height: 100%;

}

.Heading {
    h2 {
        margin-block-start: 0;
        margin-block-end: 0;
    }
    h3 {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

.Commands {
    ul {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}