// components/deploy/OutputConsole.scss

@import '../../theme/theme';

.Console {
    width: 100%;
    margin-top: 5pt;

    textarea {
        resize: none;
        width: 100%;
        box-sizing: border-box;
        border-width: 1pt;
        border-color: $primary;
    }
}