// components/deploy/ProgressButton.scss

@import "../../theme/theme.scss";

.ProgressButton {
    overflow: hidden;
    height: 100%;
    position: relative;
    button {
        width: 100%;
        height: 100%;
        font-weight: bold;
        font-size: 15pt;
        background-color: $accent-2;
        color: white;
        border-width: 0;
        position: absolute;
        z-index: 1;
        padding: 0 0 0 0;
    }
    button:hover {
        background-color: $accent-2-lite
    }
    button:disabled {
        background-color: $accent-1;
    }
    button:disabled:hover {
        background-color: $accent-1-lite
    }

    .background, .progress {
        visibility: hidden;
    }

    
}
.LoadingBar {
    overflow: hidden;
    height: 100%;
    position: relative;
    button {
        width: 100%;
        height: 100%;
        font-weight: bold;
        font-size: 15pt;
        background-color: $accent-2;
        color: white;
        border-width: 0;
        position: absolute;
        z-index: 2;
        padding: 0 0 0 0;
    }
    button:disabled {
        background-color: transparent;
    }

    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $loading;
        z-index: 0;
    }

    .progress {
        height: 100%;
        position: absolute;
        background-color: $loading-fg;
        z-index: 1;
    }
}

.FinishedLabel {
    overflow: hidden;
    height: 100%;
    position: relative;
    button {
        width: 100%;
        height: 100%;
        font-weight: bold;
        font-size: 15pt;
        background-color: $accent-2;
        color: white;
        border-width: 0;
        position: absolute;
        z-index: 1;
        padding: 0 0 0 0;
    }

    .background, .progress {
        visibility: hidden;
    }
}