// components/deploy/ReportDisplay.scss

@import "../../theme/theme";

.Report {
    display: grid;
    grid-template-rows: auto 50pt auto;
    grid-template-columns: 50pt auto;

    object-fit: contain;

    margin-bottom: 5pt;
    max-height: 90pt;
}
.ReportHeader {
    max-height: 2em;
    grid-column: 1 / 3;
    h4 {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

.StatusImg {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 5pt;
    max-width: 40pt;
}

.InputFile {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    height: 100%;
}

    

.ReportContent {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-left: 9pt;
    font-size: 10pt;

    max-height: 5vw;

}