// theme/_colors.scss

$primary: #000000;

$background: #DDDDDD;
$background-light: #EEEEEE;
$background-dark: #BBBBBB;

$accent-1: #9a0f0f;
$accent-1-lite: #9c3b3b;
$accent-2: #009245;
$accent-2-lite: #25b166;
$accent-3: #ff491d;

$error: #FF3333;
$warning: #FCDE00;
$success: #009245;
$loading-fg: rgb(103, 192, 252);
$loading: rgb(0, 113, 189);