// pages/deploy.scss
@import "../theme/theme";

.DeployPage {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(100% - 220pt) 80pt 115pt 30pt;
    height: 100%;
}

.OtherInfo {
    padding: 3pt;
    border-width: 1pt;
    border-right-width: 0.5pt;
    border-color: black;
    border-style: solid;

    a {
        color: $accent-2;
        text-decoration: none;
    }
    a:hover {
        color: $accent-2-lite;
        text-decoration: underline;
    }
    a:visited {
        color: $accent-1;
        text-decoration: none;
    }
    a:hover:visited {
        color: $accent-1-lite;
        text-decoration: underline;
    }
}

.Package {
    border-width: 1pt;
    border-left-width: 0.5pt;
    border-color: black;
    border-style: solid;
    padding: 3pt;
}

.Input {
    grid-column: 1 / 3;
}

.Report {
    grid-column: 1 / 3;
}

.Console {
    grid-column: 1 / 3;
}

.DeployButton {
    grid-column: 1 / 3;
}