// components/global/Header.scss
@import '../../theme/theme';

.Header {
    object-fit: contain;
    object-position: 0, 0;

    height: 2.5pc;
    width: 100%;
};

.Logo {
    max-height: 100%;
    object-position: 0, 0;
    padding: 10px;
    //margin: 10px;
    cursor: pointer;
}
.Logo:hover {
    background-color: $background;
}

.Status {
    margin-right: 10px;
}