// components/global/Layout.scss
@import "../../theme/theme";

body {
    overflow: hidden;
}

.Layout {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75pt calc(100vh - 75pt);
    background-color: $background-light;
    width: 100%;
    height: 100vh;
    

}

.Heading {
    margin-top: 0px;
    padding: 0px;
    p {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

.Content {
    //margin-top: 0px;
    padding: 10pt;


    font-family: Arial, Helvetica, sans-serif;
    background-color: $background;
}