// components/global/NavBar.scss

@import "../../theme/theme";

.NavBar {
    display: flex;
    justify-content: none;
    align-items: center;

    margin-top: 1.25pc;

    height: 2.5pc;
    width: auto;
    background-color: $background-dark;
}