// components/global/NavButton.scss
@import "../../theme/theme";

.NavButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 40px;
    width: 125px;

    cursor: pointer;

    background-color: $background-dark;

    .Label {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 16pt;
        color: $primary;

        cursor: pointer;
    }
}

.NavButton:hover {
    background-color: $accent-1;

    .Label {
        color: $background-light;
    }
}